

<div class="container-fluid header">
    <div class="row">
        <div class="col-12">
            <nav class="nav navbar-expand-auto navbar navbar-dark bg-dark">
                <img class="icon image-fluid logoWeb" src="/images/finametrix.jpg" alt="icono web">
            </nav>
        </div>
    </div>

</div>