<div class="container-fluid d-flex align-items-center justify-content-center notFound">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1 class="sizeNotFound">
                    Oops!
                </h1>
                <h2>
                    Error 404 - Not Found
                </h2>
                <div class="error-details">
                    Perdón, ha ocurrido un error, El contenido que busca no existe!
                </div>
                <a href="/" class="btn btn-primary buttonNotFound fas fa-home">Home</a>
            </div>
        </div>
    </div>
</div>