<div class="container-fluid d-flex align-items-center justify-content-center notFound">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1 class="sizeNotFound">
                    Oops!
                </h1>
                <h2>
                    Sorry, Only csv are allowed.
                </h2>
                <a href="/" class="btn btn-primary buttonNotFound fas fa-home">Home</a>
            </div>
        </div>
    </div>
</div>