<div class="container-fluid">

    <div class="row">
        <div class="col-12 uploadStyle">
            <div class="panel panel-default">
                <form id="uploadCsv" method="post" enctype="multipart/form-data" action="/upload" role="form">
                    <div class="panel-heading">
                        <strong>Upload files</strong>
                    </div>
                    <div class="panel-body">
                        <div class="input-group file-preview">
                            <span class="input-group-btn">
                                <div class="btn btn-default file-preview-input">
                                    <span class="fas fa-folder-open"></span>
                                    <span class="file-preview-input-title">Browse</span>
                                    <input type="file" accept=".csv" name="file" />
                                </div>
                                <button type="submit" class="btn btn-labeled btn-primary">
                                    <span class="btn-label">
                                        <i class="fas fa-upload"></i>
                                    </span>Upload</button>
                            </span>
                        </div>
                    </div>
                </form>
                <p></p>
            </div>
        </div>
    </div>
</div>