
.header {
  margin-bottom: 20px;
}

.col-12 {
  padding-left: 0px;
  padding-right: 0px;
}

.navabarColor {
  background-color: rgba(0, 0, 0, 0.3);
}

.logoWeb {
  height: 100px;
  width: 100px;
}

.uploadStyle {
  display: flex;
  justify-content: center;
}
 